<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <sectionGroup name="Spreadbot">
      <section name="Mip" type="Spreadbot.Core.Mip.MipConfiguration, Spreadbot.Core.Mip, Version=1.0.0.0, Culture=neutral" />
    </sectionGroup>
  </configSections>

  <Spreadbot>
    <Mip configSource="app_data\Spreadbot\Configuration\Mip.config" />
  </Spreadbot>

</configuration>