@using Spreadbot.Sdk.Common.Operations.Tasks
@model Spreadbot.Sdk.Common.Operations.Tasks.AbstractTask 

@{
    ViewBag.Title = "Task details";
    Layout = "~/Views/Shared/Layout.cshtml";
    @ShowPage()
}

@helper ShowTask( AbstractTask task )
{
    <div style="font-size: 12px">
        <pre><code>@task.ToString()</code></pre>
    </div>
}

@helper ShowPage()
{
    if( Model != null ) {
        @ShowTask( Model )
    } else if( !string.IsNullOrEmpty( ViewBag.TaskId ) ) {
        @:Task is not found: @ViewBag.TaskId 
    } else {
        @:No task Id
    }
}