@using System.Web.Mvc


@helper Editor(MvcHtmlString label, MvcHtmlString textBox)
{
    <div class="sb-raw">
        <div class="sb-cell">@label</div>
        <div class="sb-cell sb-width-10px">&nbsp;</div>
        <div class="sb-cell">@textBox</div>
    </div>
}
