@using System.Web.Mvc
@using System.Web.Mvc.Html
@functions{
    // >> App_Code | Shared
    private new static HtmlHelper<object> Html
    {
        get { return ((WebViewPage)WebPageContext.Current.Page).Html; }
    }

    public static MvcHtmlString BuildLink(string linkText, string linkClass, string linkUrl)
    {
        return new MvcHtmlString(string.Format("<a class='{0}' href='{1}'>{2}</a>", linkClass, linkUrl, linkText));
    }

}

@helper Link(string linkText, string linkClass, string linkUrl)
{ @BuildLink(linkText, linkClass, linkUrl) }

@helper Format(string text, params object[] args)
{
    @Text(string.Format(
        text,
        args))
}

@helper ActionLink(string text, string controller, string action="Index", string cssClass="")
{
    @Html.ActionLink(
        text,
        action,
        controller,
        null,
        new { @class = cssClass })
}


@helper ActionLink(string text, string controller, string action, int id, string @class=null)
{
    @Html.ActionLink(
        text,
        action,
        controller,
        new { id },
        new { @class })
}

@helper Text(string text)
{ @text }
