@using Spreadbot.Sdk.Common.Operations.Tasks
@model  Spreadbot.App.Web.Models.DemoshopModel 

@{
    // Here: View | ShowTask
}

@helper ShowTask( AbstractTask task )
{
    <div style="font-size: 12px">
        <pre><code>
@task.ToString()
        </code></pre>
    </div>
}

@{
    ViewBag.Title = "Task details";
    Layout = "~/Views/Shared/Layouts/Default.cshtml";
}
@{
    var task = ( AbstractTask ) Model.FindTask( ViewBag.TaskId );
}

@{
    if( task != null ) {
        @ShowTask( task )
    } else if( !string.IsNullOrEmpty( ViewBag.TaskId ) ) {
        var answer = string.Format( "Task with Id=[{0}] is not found", ViewBag.TaskId );
        @answer
    } else {
        @:No task info
    }
}