/*
// ============================================================================================= []
// >> | CSS | Common
*/


/*
// ============================================================================================= []
// Global elements
*/


p, div, h1, h2, h3, h4, h5, h6, img, pre, form, fieldset, a, span {
    color: inherit;
    font-family: inherit;
}

body {
    color: #373737;
    font-family: 'Cantarell'
}

p, div, a, span {
    font-size: inherit;
}

a{
    color: #0004bf;
}

a:hover {
    color: red;
}

h1 {
    font-size: 50px;    
}

h2 {
    font-size: 30px;    
}

h3 {
    font-size: 25px;
}

/*
// ============================================================================================= []
// Highlifth
*/

.sb-red {
    color: red;
}


/*
// ============================================================================================= []
// Structure
*/

.sb-page-content {
    width: 600px; 
    margin: 50px;
}


/*
// ============================================================================================= []
// EOF
*/