/*
>> CSS 
*/
/*
// ============================================================================================= []
// Common
*/

html, body, p, div, h1, h2, h3, h4, h5, h6, img, pre, form, fieldset, a, span {
    color: #02009a;
}

.sb-red {
    color: red;
}

/*
// ============================================================================================= []
// EOF
*/