@model Spreadbot.App.Web.PublisherModel

@{
    // ===================================================================================== []
    // Now: >> | View | Demoshop | Index
    ViewBag.Title = "Demo Shop";
    Layout = "~/Views/Shared/Layouts/Default.cshtml";
}

<h2>
    Publishing
</h2>

Result: @Model.Response