@model Spreadbot.App.Web.DemoshopModel
@{
    // ===================================================================================== []
    // !>> View | Demoshop | Publish
    ViewBag.Title = "Demo Shop";
    Layout = "~/Views/Shared/Layouts/Default.cshtml";
}

<h2>
    Publishing
</h2>

<pre>
@foreach (var t in Model.Tasks.Where(t => t.Response != null))
{
    @t.Response.Autoinfo
}
</pre>
