@{
    // ===================================================================================== []
    // Now: >> | View | Demoshop | Publish
    ViewBag.Title = "Demo Shop";
    Layout = "~/Views/Shared/Layouts/Default.cshtml";
}

<h2>
    Publishing
</h2>

Result: Model.Response