@model Spreadbot.App.Web.DemoshopModel
@{
    // ===================================================================================== []
    // !>> View | Demoshop | RunChannelTasks
    ViewBag.Title = "Demo Shop";
    Layout = "~/Views/Shared/Layouts/Default.cshtml";
}

<h2>
    Channel Tasks Running Result
</h2>

@foreach (var task in Model.ChannelTasks)
{
    <pre>@task</pre>
}