@using Spreadbot.App.Web.Models
@using Spreadbot.Sdk.Common.Operations.Tasks
@model Spreadbot.App.Web.Models.DemoshopModel 

@{
    // !>> View | Demoshop | ShowTask
    ViewBag.Title = "Task details";
    Layout = "~/Views/Shared/Layouts/Default.cshtml";
}
@{
    var task = ( AbstractTask ) DemoshopModel.FindTask( ViewBag.TaskId );
}

<div style="font-size: 16px">
    <pre><code>
@(task.ToString() )
        </code></pre>
</div>