<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <sectionGroup name="Spreadbot">
      <section name="MipPublic"
               type="Spreadbot.Core.Channels.Ebay.Configuration.Sections.MipPublicConfig, Spreadbot.Core.Channels, Version=1.0.0.0, Culture=neutral" />
      <section name="MipSecurity"
               type="Spreadbot.Core.Channels.Ebay.Configuration.Sections.MipSecurityConfig, Spreadbot.Core.Channels, Version=1.0.0.0, Culture=neutral" />
      <section name="Demoshop"
               type="Spreadbot.Core.Stores.Demoshop.Configuration.Sections.DemoshopConfig, Spreadbot.Core.Stores, Version=1.0.0.0, Culture=neutral" />
    </sectionGroup>
  </configSections>

  <Spreadbot>
    <MipPublic configSource="app_data\Configs\Mip.Public.config" />
    <MipSecurity configSource="app_data\Configs\Mip.Security.config" />
    <Demoshop configSource="app_data\Configs\Demoshop.config" />
  </Spreadbot>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>