<?xml version="1.0" encoding="utf-8" ?>
<nlog 
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  internalLogFile="App_Data\Logs\NLog.Internal.txt">
  
  <targets>
    <target
      name="TraceFile"
      xsi:type="File"
      fileName="${basedir}\App_Data\Logs\Trace.${shortdate}.txt"
      layout="[${longdate}] ${message}"
      />
    
    <target
      name="ErrorFile"
      xsi:type="File"
      fileName="${basedir}\App_Data\Logs\Error.${shortdate}.txt"
      layout="${longdate} ${uppercase:${level}} ${newline}${message} ${newline}${exception:format=tostring} ${newline}"
      />

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="TraceFile" />
    <logger name="*" minlevel="Warn" writeTo="ErrorFile" />
  </rules>
  
</nlog> 