@using Spreadbot.App.Web
@model HomeModel

@{
    // >> | View | MipDemo | Index
    ViewBag.Title = "MIP Demo";
    Layout = "~/Views/Shared/Layouts/Default.cshtml";
}

@foreach (var m in HomeModel.MipDemoModels)
{
    <ul>
        <li>@Shared.ActionLink(m.Name, "MipDemo", "Start", m.Id)</li>
    </ul>
}