<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <sectionGroup name="Spreadbot">
      <section name="MipPublic" type="Spreadbot.Core.Channel.Ebay.Mip.Configuration.MipPublicConfig, Spreadbot.Core.Channel.Ebay" />
      <section name="MipSecurity" type="Spreadbot.Core.Channel.Ebay.Mip.Configuration.MipSecurityConfig, Spreadbot.Core.Channel.Ebay" />
    </sectionGroup>
  </configSections>

  <Spreadbot>
    <MipPublic configSource="app_data\Spreadbot\Configuration\Mip.Public.config" />
    <MipSecurity configSource="app_data\Spreadbot\Configuration\Mip.Security.config" />
  </Spreadbot>

</configuration>