<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <sectionGroup name="Spreadbot">
      <section name="MipPublic"
               type="Spreadbot.Core.Connectors.Ebay.Configuration.Sections.MipPublicConfig, Spreadbot.Core.Connectors.Ebay, Version=1.0.0.0, Culture=neutral" />
      <section name="MipSecurity"
               type="Spreadbot.Core.Connectors.Ebay.Configuration.Sections.MipSecurityConfig, Spreadbot.Core.Connectors.Ebay, Version=1.0.0.0, Culture=neutral" />
    </sectionGroup>
  </configSections>

  <Spreadbot>
    <MipPublic configSource="app_data\Spreadbot\Configuration\Mip.Public.config" />
    <MipSecurity configSource="app_data\Spreadbot\Configuration\Mip.Security.config" />
  </Spreadbot>

</configuration>