<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <sectionGroup name="Spreadbot">
      <section name="EbayPublic"
               type="Spreadbot.Core.Channels.Ebay.Configuration.Sections.EbayPublicConfig, Spreadbot.Core.Channels.Ebay, Version=1.0.0.0, Culture=neutral" />
      <section name="EbaySecret"
               type="Spreadbot.Core.Channels.Ebay.Configuration.Sections.EbaySecretConfig, Spreadbot.Core.Channels.Ebay, Version=1.0.0.0, Culture=neutral" />
      <section name="Demoshop"
               type="Spreadbot.Core.Stores.Demoshop.Configuration.Sections.DemoshopConfig, Spreadbot.Core.Stores, Version=1.0.0.0, Culture=neutral" />
    </sectionGroup>
  </configSections>

  <Spreadbot>
    <EbayPublic configSource="app_data\Configs\Ebay.Public.config" />
    <EbaySecret configSource="app_data\Configs\Ebay.Secret.config" />
    <Demoshop configSource="app_data\Configs\Demoshop.config" />
  </Spreadbot>

</configuration>