@{
    // Here: View | Home
    this.ViewBag.Title = "Spreadbot";
    this.Layout = "~/Views/Shared/Layout.cshtml";
}
<img width="150" src="~/Content/Spreadbot.Logo.png" alt="Spreadbot Virtocommerce Amazon eBay Multichannel"/>

<div>
    <h2>Description</h2>
    Spreadbot is a .Net opensource multichannel manager.
    It obtains products from <a href="http://virtocommerce.com/">Virto Commerce</a> stores
    and lists them on such channels as eBay, Amazon etc.
    Using Spreadbot you can easy create, update and manage plural sets of listings on numerous channels.
</div>

<div>
    <h2>Done and demos</h2>
    <ul>
        <li>
            Spreadbot submitted item to eBay using MIP (try @this.Html.ActionLink("Demoshop­", "Index", "Demoshop", null, null))
        </li>
    </ul>


    <h2>Roadmap</h2>
    <ul>
        <li>
            Submit item on Amazon marketplace using AMWS (in progress)
        </li>
        <li>
            Submit items from Virto Commerce catalog on eBay and Amazone
        </li>
    </ul>
</div>

<div>
    <h2>Other pages</h2>
    <ul>
        <li>
            <a href="Page/Reports">Reports</a> tells us about what were done during the Spreadbot development last week
        </li>
        <li>
            <a href="Page/Resources">Resources</a> contains usefull info about Spreadbot, channels and stores
        </li>
    </ul>
</div>