<?xml version="1.0"?>

<MipPublic>

  <Connection
    HostName="mip.ebay.com"
    PortNumber="22" />

  <Paths
    FeedsPath="..\..\App_Data\Mip\store\src\"
    ZippedFeedsPath="..\..\App_Data\Mip\store\zip\"
    InboxPath="..\..\App_Data\Mip\store\inbox\"
    RemoteBasePath="store/"
    OutputFolderNameUtcHourOffset="-7" />

</MipPublic>