<?xml version="1.0"?>

<MipPublic>

  <Connection
    HostName="mip.ebay.com"
    PortNumber="22" />
  <Paths
    FeedsPath="..\..\..\..\..\Research\mipsftp\data\store\src\"
    ZippedFeedsPath="..\..\..\..\..\Research\mipsftp\data\store\zip\"
    InboxPath="..\..\..\..\..\Research\mipsftp\data\store\inbox\"
    RemoteBasePath="store/" />

</MipPublic>