<?xml version="1.0"?>

<MipPublic>

  <MipConnection
    HostName="mip.ebay.com"
    PortNumber="22" />

  <MipPaths
    BasePath="\Channels\eBay\Mip\"
    FeedsPath="\Channels\eBay\Mip\store\src\"
    ZippedFeedsPath="\Channels\eBay\Mip\store\zip\"
    InboxPath="\Channels\eBay\Mip\store\inbox\"
    RemoteBasePath="store/"
    SftpServerTimeZone="Mountain Standard Time" />

</MipPublic>