<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <sectionGroup name="Spreadbot">
      <section name="AmazonPublic"
               type="Spreadbot.Core.Channels.Amazon.Configuration.Sections.AmazonPublicConfig, Spreadbot.Core.Channels.Amazon, Version=1.0.0.0, Culture=neutral" />
      <section name="AmazonSecret"
               type="Spreadbot.Core.Channels.Amazon.Configuration.Sections.AmazonSecretConfig, Spreadbot.Core.Channels.Amazon, Version=1.0.0.0, Culture=neutral" />
    </sectionGroup>
  </configSections>

  <Spreadbot>
    <AmazonPublic configSource="App_data\Configs\Amazon.Public.config" />
    <AmazonSecret configSource="App_data\Configs\Amazon.Secret.config" />
  </Spreadbot>


</configuration>