<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="krokodev.common" version="1.1.5583.38602" targetFramework="net451" />
  <package id="Moq" version="4.2.1502.0911" targetFramework="net451" />
  <package id="morelinq" version="1.1.0" targetFramework="net451" />
  <package id="NLog" version="3.2.0.0" targetFramework="net451" />
  <package id="NLog.Config" version="3.2.0.0" targetFramework="net451" />
  <package id="NLog.Schema" version="3.2.0.0" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" />
  <package id="Spreadbot.Include" version="1.2.1.31569" targetFramework="net451" />
  <package id="YamlDotNet" version="3.5.1" targetFramework="net451" />
  <package id="YamlDotNet.Dynamic" version="3.2.3" targetFramework="net451" />
</packages>