<?xml version="1.0"?>

<AmazonSecret>

  <!--  
  Instructions for Sellers to Authorize a Third-Party Developer to Access Their Amazon Seller Account
  https://developer.amazonservices.com/gp/mws/faq.html/190-4622784-2007917#developForSeller
  -->

  <MwsSecretData
    MerchantId="XXXXXXXXXXXXXX"
    AwsAccessKeyId="XXXXXXXXXXXXXXXXXXXX"
    AwsSecretAccessKey="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" />

</AmazonSecret>