<?xml version="1.0"?>

<AmazonPublic>

  <MwsConnection
    ServiceUrl="https://mws.amazonservices.com"
    MarketplaceId="ATVPDKIKX0DER" />

  <MwsPaths
    BasePath="..\..\App_Data\Channels\Amazon\Mws\"
    FeedsPath="..\..\App_Data\Channels\Amazon\Mws\Store\Feeds\" />

</AmazonPublic>