@model Spreadbot.App.Web.HomeModel

@{
    // >> | View | Home| Index
    ViewBag.Title = "Spreadbot";
    Layout = "~/Views/Shared/Layouts/Default.cshtml";
}

<div class="sb-page-content">

    <h1>Spreadbot</h1>

    <div>
        <h2>Announce</h2>
        Spreadbot is a MultiChannel Manager which takes products from
        predefined <a href="http://virtocommerce.com/" target="_blank">Virto Commerce</a>
        stores and arranges them as listings on the specified channels. Using MCM you can
        easy create, update and manage plural sets of listings on numerous channels. Naturally,
        you have to be registered on the appropriate channels and granted all necessary permissions
        to use all the features listed below. You can either adjust MCM via its settings or extend
        functionality using open source code written in C#.
        <br><a href="https://docs.google.com/document/d/1BhA3ABKtPT3_0R2CWIkNajMj20eDIipa22N-yDzwVEg/pub" target="_blank">more...</a>
    </div>

    <div>
        <h2>Demonstration</h2>
        <ul>
            <li class="sb-red">
                Public 1 Item on eBay via MIP:SFTP
            </li>
            <li>
                Public Items from VC sample files on eBay via MIP:SFTP
            </li>
            <li>
                Public Items from VC database catalog on eBay via MIP:SFTP
            </li>
        </ul>
    </div>

    <div>
        <h2>Resources</h2>
        <ul>
            <li>
                Source codes
            </li>
            <li>
                Project management (Jira)
            </li>
            <li>
                Azure hosting
            </li>
        </ul>
    </div>

</div>