@{
    // Here: View | Bug Generator
    ViewBag.Title = "Bug Generator";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div>
    <ul>
        <li>
            @Html.ActionLink("ThrowSpreadbotException", "ThrowSpreadbotException")
        </li>

        <li>
            <a href='~/wrong_url'>Wrong Url</a>
        </li>

        <li>
            <a href='~/Home/WrongAction'>Wrong Controller Action</a>
        </li>


    </ul>
</div>