@{
    // Here: View | Bug Generator
    ViewBag.Title = "Bug Generator";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div>
    <ul>
        <li>
            @Html.ActionLink("ThrowSpreadbotException", "ThrowSpreadbotException")
        </li>
    </ul>
</div>