<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <sectionGroup name="Spreadbot">
      <section name="MipPublic" type="Spreadbot.Core.Configuration.MipPublic, Spreadbot.Core.Configuration, Version=1.0.0.0, Culture=neutral" />
      <section name="MipSecurity" type="Spreadbot.Core.Configuration.MipSecurity, Spreadbot.Core.Configuration, Version=1.0.0.0, Culture=neutral" />
    </sectionGroup>
  </configSections>

  <Spreadbot>
    <MipPublic configSource="app_data\Spreadbot\Configuration\Mip.Public.config" />
    <MipSecurity configSource="app_data\Spreadbot\Configuration\Mip.Security.config" />
  </Spreadbot>

</configuration>