@{ Layout = "~/Views/Shared/Layout.cshtml"; }
@using Spreadbot.App.Web.Utils

@model HandleErrorInfo 


@{
    ExceptionUtility.LogException( Model.Exception, "Error.cshtml" );
}

<h1>
    Error
</h1>

<h2>
    Sorry, an error occurred while processing your request.
</h2>
<p>Controller Name: [@Model.ControllerName]</p>
<p>Action Name: [@Model.ActionName]</p>
<p>Message: [@Model.Exception.Message]</p>
<p>Stack trace: <pre>@Model.Exception.StackTrace</pre>